.dialogs{
    display: grid;
    grid-template-columns: 2fr 6fr;
    padding: 10px;
}

.names{
    display: grid;
}

.names_item{
    color: #1a7a98;
    font-weight: 700;
    font-size: 50px;
}

.names_item :not(:last-child){
    margin: 0 0 15px 0;
}

.names_item.active{
    font-style: italic;
    text-decoration: underline;
    color: blue;
}

.messages{

}

.messages_item{

}