
.cover{
    min-width: 100%;
    max-height: 312px;
    border-radius: 15px 0 0 0;
    margin: 0px 0px 15px 0px;
}

.userAvatar{
    font-size: 0;
}
.avatar{
    max-width: 200px;
}

.userInfo{
    display: flex;
    column-gap: 15px;
}

.personalInfo{
    display: flex;
    min-width: 100%;
    flex-direction: column;
}